<html>
    {% load leaflet_tags %}
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <style media="screen">
            #local { width:100%; height:100% }
        </style>
      {% leaflet_js %}
      {% leaflet_css %}
      <script src="{% static 'leaflet-ajax/dist/leaflet.ajax.min.js' %}"></script>
      <link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.css" />
      <link rel="stylesheet" href="Leaflet.markercluster/dist/MarkerCluster.Default.cs$
      <script src="Leaflet.markercluster/src/MarkerCluster.js"></script>
      <script>
          var map = L.map('map');
          L.tileLayer('https://api.tiles.mapbox.com/v4/MapID/997/256/{z}/{x}/{y}.png?access_token={accessToken}', {
              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
              maxZoom: 18
              }).addTo(map);
          map.locate({setView: true, maxZoom: 16});
          function onLocationFound(e) {
              var radius = e.accuracy;
              L.marker(e.latlng).addTo(map)
                  .bindPopup("You are within " + radius + " meters from this point").openPopup();
              	L.circle(e.latlng, radius).addTo(map);
              }
              map.on('locationfound', onLocationFound);
              function onLocationError(e) { 
                  alert(e.message);
              } 
        </script>
    </head>
    <body>
      {% leaflet_map "local" callback="window.map_init_basic" %}
   </body>
</html>